<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MRS Login</title>
</head>
<body>
    <center>
        <h4>
            <table>
                <tr>
                    <td>
                        <a href="/">Home</a>
                    </td>
                    <td>
                        <p style="margin-left: 40px"></p>
                    </td>
                    <td>
                        <a href="/signup" marg>Sign Up</a>
                    </td>
                </tr>
            </table>
        </h4>
        <h1>
            Log in
        </h1>
        <br/>
        <form method="post" action="/login" enctype="multipart/form-data">
            <input type ="text" value="" name="username" />
            <br/>
            <input type="password" value="" name="password" />
            <br/>
            <input type="submit" value="Login" name="submit_button" />
        </form>
    </center>
</body>
</html>